@use '@angular/material' as mat;

@include mat.core();

$gaerngschee-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($gaerngschee-theme);
}

@import 'maplibre-gl/dist/maplibre-gl.css';